<div class="campeonato">
    <div role="tabpanel" class="tab-pane fade in active">
        <div class="row">
            <div>
                <div ng-if="jogos[nomeReduzidoDoGrupo][1].length > 0">
                    <ul class="rodadas">
                        <div class="controls cycle-prev fa fa-angle-left anterior" (click)="moverRodadaAnterior(nomeReduzidoDoGrupo)"> < </div>
                        <div class="controls cycle-next fa fa-angle-right"         (click)="moverProximaRodada(nomeReduzidoDoGrupo)"> > </div>
                        <li class="rodadas_grupo_{{nomeReduzidoDoGrupo}}"
                        *ngFor="let rodada of jsonParaArray(jogos[nomeReduzidoDoGrupo]); let numRodada = index">
                            <h3 class="titulo-rodada">{{numRodada+1}}<sup>ª</sup> Rodada <i class="icon-angle-down icon-menu-rodadas"></i></h3>
                            <div *ngFor="let partida of rodada;" class="jogo bordered">
                                <div class="times clearfix">
                                    <span [innerHtml]='partida.equipe_1.escudo.url_min | filtrarEscudo:partida.equipe_1.nome | linkDaPaginaDaEquipe: partida.equipe_1.pagina_site: partida.equipe_1.nome'></span>
                                    <span class="placar">
                                        <span [innerHtml]='partida.equipe_1.abreviacao | linkDaPaginaDaEquipe: partida.equipe_1.pagina_site: partida.equipe_1.nome' class="nome" [attr.alt]="partida.equipe_1.nome" [attr.title]="partida.equipe_1.nome"></span>
                                        <span class="gol" [attr.alt]="placar" [attr.title]="placar" [innerHtml]="partida.equipe_1.placar"></span>
                                        <span class="separador">&times;</span>
                                        <span class="gol" [attr.alt]="Placar" [attr.title]="Placar" [innerHtml]="partida.equipe_2.placar"></span>
                                        <span [innerHtml]='partida.equipe_2.abreviacao | linkDaPaginaDaEquipe: partida.equipe_2.pagina_site: partida.equipe_2.nome' class="nome" [attr.alt]="partida.equipe_2.nome" [attr.title]="partida.equipe_2.nome"></span>
                                    </span>
                                    <span [innerHtml]='partida.equipe_2.escudo.url_min | filtrarEscudo:partida.equipe_2.nome | linkDaPaginaDaEquipe: partida.equipe_2.pagina_site: partida.equipe_2.nome'></span>
                                </div>
                                <div class="info">{{ partida.data | date:'EEE' | getDiaDaSemana }} - {{ partida.data | date:'dd/MM/yyyy HH:mm' | formatarData }} {{ partida.estadio.nome | formatarNomeEstadio }}</div>
                                <div class="actions">
                                    <a [hidden]="!partida.links.relato"  href="{{partida.links.relato}}" [attr.title]="'Pós-jogo'" [attr.alt]="'Pós-jogo'"  class="link-pos">Pós-jogo</a>
                                    <a [hidden]="!partida.links.aovivo"  href="{{partida.links.aovivo}}" [attr.alt]="'Ao vivo'"    [attr.title]="'Ao vivo'" class="link-aovivo">Acompanhe</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
